.container {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #06070f;
    padding: 0 40px;
    margin: 0 auto;
    border-radius: 20px;
    z-index: 2;
    
}
.hcontainer {
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #760504;
    border-radius: 20px;
    padding: 20px 40px;
    margin: 0 auto;
    z-index: 1;
    
}
header{
    align-items: center;
    margin: 0 auto;
}

form {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 600px;
    height: 55px;
    flex-direction: column;
    align-items: center;
}

#search-input {
    flex: 1;
    width: 70%;
    border: none;
    outline: none;
    padding: 10px;
}

#search-btn {
    background: #760504;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 10px;
}

#search-btn:hover{
    color:red
}

#result-container {
    max-width: 100%;
    padding: 10px;
    background-color: #760504;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}

#result {
    width: 100%;

    text-align: center;
    word-wrap: break-word;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    color: #fff;
}

#result img {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
    float:left
}

body {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    background-image: url("spidey.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
    color: white;
}

p{
    font-family: 'Tahoma', sans-serif;
}
